@model Git2.Models.ComicBook[]

@{
    ViewBag.Title = "Comics";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int cnt = Model.Count();
    int width = 12 /cnt ;
    string bsGrid = "col-md-" + width;
    if ( 12 % width!= 0)
    {
        // center
    }
    
}

<h2>@ViewBag.Title</h2>

@*uses bs*@

@for (int i = 0; i < 2; i++)
{
 
    <div class="row">

        @foreach (var comicBook in Model)
        {
            <div class=@bsGrid>
                <h4>@comicBook.Display</h4>
                <img src="~/Images/@comicBook.CoverImgFileNm"
                     alt="@comicBook.Display"
                     class="img-responsive" />
            </div>
        }
    </div>
   
}
